:root {
    --primary-color: #035294;
    --secondary-color: #BE8325;
    --terciary-color: #940309; 
    --clear-prim-color: #EDFBFA;
}
html, body{
    font-family: Roboto;
    margin: 0;
}
html, body{
    font-family: Roboto;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);
    margin: 0;
    padding: 1rem;
    justify-content: center;
}
header img {
    height: 30px;
    width: auto;
}
header p {
    font-weight: bold;
    color: white;
    font-size: large;
}

header a {
    text-decoration: none;
    margin-right: 8px;
    color: white;
    padding: 0.75rem;
}
header a:hover {
    text-decoration: underline;
    background-color: var(--secondary-color);
    padding: 0.75rem;
    border-radius: 10px;
}
.header-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.header-title img {
    width: 30px;
    height: auto;
    min-width: 30px;
    margin-right: 15px;
    margin-left: 10px;
}
.header-title h1 {
    font-size: 20px;
}

.navigation div a{
    padding: 0.5rem;
    margin: 1px 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: bold;
    font-size: larger;
    border-radius: 7px;

}
.navigation {
    display: flex;
    flex-direction: column;
}
.navigation button {
    align-self: flex-end;
}
.navigation div a:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
}

#menu {
    border: none;
    background-color: var(--back-ground-color);
    margin: 5px

}
#menu::before {
	content: "☰";
    font-size: 25px;
}

#menu.open::before {
	content: "✖️";
}

nav div {
	list-style: none;
	display: none;
	flex-direction: column;
}

nav.open div {
    display: flex;
}

h1 {
    text-align: center;
    color: var(--primary-color);
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
button {
    padding: 0.75rem;
    border-radius: 10px;
    border: 1px solid black;
    background-color: var(--primary-color);
    color: white;
    font-size:medium;
}
button:hover {
    background-color: var(--secondary-color);
}
.cards section {
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 300px;
    width: 300px;
    justify-content: center;
    text-align: center;
}

.cards .name {
    display: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}

.cards #sazi img {
    background-color: black;
    padding: 1rem;
    border-radius: 6px;
}

.cards #conceito img {
    width: 150px;
} 
.cards #connect img {
    width: 150px;
}
.cards #senac img {
    width: 150px;
}

.list section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    border: 1px solid var(--primary-color);
    align-items: center;
    text-align:left;
    justify-items: start;
    gap: 15px;
    padding: 0 1rem;
}
.list img {
    display: none;
}

.list section:nth-child(even) {
    background-color: var(--clear-prim-color);
    
}
.list a {
    word-break:break-all;
    overflow-wrap: anywhere;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
    margin-top: 1rem;

}
footer img {
    height: 60px;
    width: auto;
}
footer a {
    text-decoration: none;
}

#directory {
    text-decoration: underline;
}


@media (min-width: 680px) {
    .cards a {
        word-break:break-all;
        overflow-wrap: anywhere;
    }
    nav div {
        display: flex;
        flex-direction: row;
        padding-left: 1rem;
    }
    .header-title button {
        display: none;
    }
    .navigation div a {
        width: auto;
        border-radius: 0;

    }
    .navigation div {
        background-color: var(--primary-color);
        margin: 0;
    }
    .header-title {
        justify-content: start;
        margin-left: 1rem;
    }
    .header-title h1 {
        font-size: 28px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

