:root {
    --primary-color: #035294;
    --secondary-color: #BE8325;
    --terciary-color: #940309; 
    --clear-prim-color: #EDFBFA;
}
html, body{
    font-family: Roboto;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    margin: 0;
    padding: 1rem;
}
header img {
    height: 30px;
    width: auto;
}
header p {
    font-weight: bold;
    color: white;
    font-size: large;
}

header a {
    text-decoration: none;
    margin-right: 8px;
    color: white;
    padding: 0.75rem;
}
header a:hover {
    text-decoration: underline;
    background-color: var(--secondary-color);
    padding: 0.75rem;
    border-radius: 10px;
}
.header-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.header-title img {
    width: 30px;
    height: auto;
    min-width: 30px;
    margin-right: 15px;
    margin-left: 10px;
}
.header-title h1 {
    font-size: 20px;
}

.navigation div a{
    padding: 0.5rem;
    margin: 1px 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: bold;
    font-size: larger;
    border-radius: 7px;

}
.navigation {
    display: flex;
    flex-direction: column;
}
.navigation button {
    align-self: flex-end;
}
.navigation div a:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
}

#menu {
    border: none;
    background-color: var(--back-ground-color);
    margin: 5px

}
#menu::before {
	content: "☰";
    font-size: 25px;
}

#menu.open::before {
	content: "✖️";
}

nav div {
	list-style: none;
	display: none;
	flex-direction: column;
}

nav.open div {
    display: flex;
}

h1 {
    text-align: center;
    color: var(--primary-color);
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
    margin-top: 1rem;

}
footer img {
    height: 60px;
    width: auto;
}
footer a {
    text-decoration: none;
}

#discover {
    text-decoration: underline;
}

.card {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    width: 400px;
    height: auto;
    text-align: center;
    margin: 2rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.card img {
    max-width: 300px;
    width: auto;
    height: auto;
    max-height: 200px;
}





@media (min-width: 680px) {
    nav div {
        display: flex;
        flex-direction: row;
        padding-left: 1rem;
    }
    .header-title button {
        display: none;
    }
    .navigation div a {
        width: auto;
        border-radius: 0;

    }
    .navigation div {
        background-color: var(--primary-color);
        margin: 0;
    }
    .header-title {
        justify-content: start;
        margin-left: 1rem;
    }
    .header-title h1 {
        font-size: 28px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}


