:root {
    --primary-color: #035294;
    --secondary-color: #BE8325;
    --terciary-color: #940309; 
    --clear-prim-color: #EDFBFA;
}
html, body{
    font-family: Roboto;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);
    margin: 0;
    padding: 1rem;
    justify-content: center;
    border: 1px solid red;
}
header img {
    height: 30px;
    width: auto;
}
header p {
    font-weight: bold;
    color: white;
    font-size: large;
}

header a {
    text-decoration: none;
    margin-right: 8px;
    color: white;
    padding: 0.75rem;
}
header a:hover {
    text-decoration: underline;
    background-color: var(--secondary-color);
    padding: 0.75rem;
    border-radius: 10px;
}
.header-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.header-title img {
    width: 30px;
    height: auto;
    min-width: 30px;
    margin-right: 15px;
    margin-left: 10px;
}
.header-title h1 {
    font-size: 20px;
}

.navigation div a{
    padding: 0.5rem;
    margin: 1px 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: bold;
    font-size: larger;
    border-radius: 7px;

}
.navigation {
    display: flex;
    flex-direction: column;
}
.navigation button {
    align-self: flex-end;
}
.navigation div a:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
}

#menu {
    border: none;
    background-color: var(--back-ground-color);
    margin: 5px

}
#menu::before {
	content: "☰";
    font-size: 25px;
}

#menu.open::before {
	content: "✖️";
}

nav div {
	list-style: none;
	display: none;
	flex-direction: column;
}

nav.open div {
    display: flex;
}

h1 {
    text-align: center;
    color: var(--primary-color);
}
.hero {
    position: relative;
}


.call-to-action {
    position: absolute;
    right: 10%;
    bottom: 10%;
    padding: 0.75rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: 5px solid white;
    color: white;
    font-weight: bold;
    font-size:larger;
    text-decoration: none;
}
.call-to-action:hover {
    border: 5px solid black;
    background-color: var(--secondary-color);
    color: black;
    
}
.hero img {
    width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
.middle-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 80%;
}
.events, .current-weather, .weather-forecast {
    border: 1px solid black;
    height: 200px;
    min-width: 250px;
    border-radius: 20px;
    box-sizing: border-box;
    
}
.events p {

    text-align: center;
}
.current-weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.current-weather h2 {
    grid-column: 1/3;
    margin-bottom: 0;
}
.current-weather img {
    justify-self: end;
    height: auto;
    width: 140px;
    margin-top: 0;
}
.current-weather p {
    font-size: 20px;
    line-height: 1.2;
    justify-self: start;
    align-self: center;
    margin-top: 0;
}
.weather-forecast p {
    text-align: center;
    font-size: larger;
}

h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    margin-top: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30px;
}

.cards section {
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 300px;
    width: 100%;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    max-height: 300px;
}

.cards .name {
    display: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}

.cards #sazi img {
    background-color: black;
    padding: 1rem;
    border-radius: 6px;
}

.cards #conceito img {
    width: 150px;
} 
.cards #connect img {
    width: 150px;
}
.cards #senac img {
    width: 150px;
}
.cards a {
    word-break:break-all;
    overflow-wrap: anywhere;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
    margin-top: 1rem;

}
footer img {
    height: 60px;
    width: auto;
}
footer a {
    text-decoration: none;
}



@media (min-width: 680px) {
    .call-to-action {
        font-size: 3vw;
    }
    .middle-section {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .events {
        grid-column: 1/3;
    }
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: unset;
        margin: 0 1rem;
    }
    nav div {
        display: flex;
        flex-direction: row;
        padding-left: 1rem;
    }
    .header-title button {
        display: none;
    }
    .navigation div a {
        width: auto;
        border-radius: 0;

    }
    .navigation div {
        background-color: var(--primary-color);
        margin: 0;
    }
    .header-title {
        justify-content: start;
        margin-left: 1rem;
    }
    .header-title h1 {
        font-size: 28px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}


