@media only screen and (min-width: 1025px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card {
        margin: 10px auto;
        min-width: 500px;
        width: 95%;
        height: 300px;
        
    }
    .card button {
        height: fit-content;
    }

    .card p {
        margin: 0;
    }
    .card h2 {
        margin: 0;
        margin-top: 3rem;
    }
    .card img {
        transition: filter 0.3s ease;
    }
    .card img:hover {
        filter: saturate(180%);
    }


    
}