:root {
    --primary-color: #008277;
    --background-color: #fafafa;
    --typeface-color: #1a1a1a;
    --brighter: #6FF9BF;
    --middle: #25AF91;
}
picture img {
    width: 100%;
    height: auto;
}
.hero-div {
    position: relative;
}
.h1-div {
    position: absolute;
    top: 50%;
    left: 30px;
    color: white;

}
.h1-div h1 {
    margin: 0;
    font-size: 40px;
    max-width: 250px;

}
.h1-div h2 {
    font-size: 20px;
    max-width: 300px;
}

.city-examples {
    margin-top: 4rem;

}
.cards {
    display: flex;
    gap: 5%;
    margin: 5%;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    width: 300px;
    margin-bottom: 2rem;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 7px;
}
.card p {
    margin: 0 5%;
    margin-bottom: 2px;
}
h3 {
    margin: 1rem 2rem;
    font-size: 25px;
    text-align: center;
    color: var(--primary-color);
    font-weight: 100;
}
h3 span {
    font-weight: bold;
}
.data-div {
    position: relative;
}

.data-div img {
    width: 90%;
    height: auto;
    border-radius: 8px;
    margin: 5%;
    margin-top: 0;
}
.data-div p {
    /* color: white; */
    color: var(--primary-color);
    font-weight: 900;
    font-size: calc(1vw + 20px);
    /* background-color: var(--primary-color); */
    width: 90%;
    max-height: 150px;
    margin-left: 5%;
    margin-bottom: 5px;
}
.data-div span {
    color: black;
}
.cta {
    text-align: center;
    font-size: 20px;
    margin: 5rem 5%;
}
.cta h4 {
    margin: 0;
    font-size: calc(2vw + 20px);
    margin-bottom: 2rem;
}
.cta a {
    text-decoration: none;
    font-size: calc(1vw + 15px);
    max-width: unset;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;

}
h4 span {
    color: var(--primary-color);
}


@media only screen and (min-width:600px) {

    .h1-div {
        top: 31%;

    }
    .h1-div h1 {
        margin: 0;
        font-size: calc(2vw + 30px);
        max-width: 300px;

    }
    .h1-div h2 {
        font-size: calc(2vw + 7px);
        max-width: 50vw;
        margin-top: 5px;
    }
    h3 {
        font-size: 30px;
    }
    .cards {
        flex-wrap: unset;
    }
    .data-div {
        display: flex;
        margin: 5%;
    }
    .data-div p {
        /* color: white; */
        color: var(--primary-color);
        font-weight: 900;
        font-size: calc(1vw + 20px);
        padding: 1rem;
        z-index: 1;
        /* background-color: var(--primary-color); */
        width: 100%;
        max-height: 150px;
        margin-left: 2rem;
        margin: 0;
    }
    .data-div img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        max-width: 40vw;
        margin: 0;
    }





}

@media only screen and (min-width:1024px) {
    .city-examples {
        margin-top: 6rem;
    }

}
