:root {
    --primary-color:#03045E;
    --secondary-color: #243d80;
    --back-ground-color: #d1d1d1;
}

html, body {
    font-family: Roboto;
    background-color: var(--back-ground-color);
    margin: 0;
}
h1, h2 {
    color: var(--primary-color);
}
h2 {
    text-align: center;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.header-title img {
    width: 30px;
    height: auto;
    min-width: 30px;
    margin-right: 15px;
    margin-left: 10px;
}
.header-title h1 {
    font-size: 20px;
}

.navigation div a{
    padding: 0.5rem;
    margin: 1px 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: bold;
    font-size: larger;
    border-radius: 7px;

}
.navigation {
    display: flex;
    flex-direction: column;
}
.navigation button {
    align-self: flex-end;
}
.navigation div a:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
}

#menu {
    border: none;
    background-color: var(--back-ground-color);
    margin: 5px

}
#menu::before {
	content: "☰";
    font-size: 25px;
}

#menu.open::before {
	content: "✖️";
}

nav div {
	list-style: none;
	display: none;
	flex-direction: column;
}

nav.open div {
    display: flex;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
}

.photo-sec img {
    border-radius: 7px;

}
.courses button {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: .75rem;
    justify-content: center;
    font-weight: bold;
    
}
.courses button:hover {
    background-color: var(--back-ground-color);
    
}

.completed-course {
    border-radius: 6px;
    padding: 3px;
    background-color: var(--primary-color);
    color: #ffffff;
    padding-bottom: 5px;
    margin: 12px;
}
.uncompleted-course {
    border-radius: 6px;
    padding: 4px;
    background-color: var(--secondary-color);
    color: white;
    margin: 12px;
}

.certificate-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 1rem;  
    background-color: var(--secondary-color);
    color: white;
    padding: 1.5rem;
}
footer img {
    width: 40px;
    height: auto;
}

footer a {
    text-decoration: none;
}

dialog {
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: .25rem;
  padding: 1rem;
  background-color: var(--back-ground-color);
  box-shadow: 0 0 3rem var(--primary-color);
  width: 90%;
  max-width: 600px;
  color: var(--primary-color);
}

::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

dialog button {
  position: absolute;
  top: 23px;
  right: 23px;
  padding: .5rem 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
}
